anyio==4.4.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
appnope==0.1.4 ; python_full_version >= "3.8.1" and python_version < "3.13" and (platform_system == "Darwin" or sys_platform == "darwin")
argon2-cffi-bindings==21.2.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
argon2-cffi==23.1.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
arrow==1.3.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
asttokens==2.4.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
attrs==23.2.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
backcall==0.2.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
base58==2.1.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
beautifulsoup4==4.12.3 ; python_full_version >= "3.8.1" and python_version < "3.13"
bleach==6.1.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
cached-property==1.5.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
cattrs==23.2.3 ; python_full_version >= "3.8.1" and python_version < "3.13"
certifi==2024.6.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
cffi==1.16.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
click==8.1.7 ; python_full_version >= "3.8.1" and python_version < "3.13"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_version < "3.13" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
cryptography==42.0.8 ; python_full_version >= "3.8.1" and python_version < "3.13"
cytoolz==0.12.3 ; python_full_version >= "3.8.1" and python_version < "3.13" and implementation_name == "cpython"
debugpy==1.8.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
decorator==5.1.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
defusedxml==0.7.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
deprecation==2.1.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
docker==6.1.3 ; python_full_version >= "3.8.1" and python_version < "3.13"
entrypoints==0.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
eth-hash==0.7.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
eth-typing==4.2.3 ; python_full_version >= "3.8.1" and python_version < "3.13"
eth-utils==4.1.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
exceptiongroup==1.2.1 ; python_full_version >= "3.8.1" and python_version < "3.11"
executing==2.0.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
fastecdsa==2.3.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
fastjsonschema==2.19.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
fqdn==1.5.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
idna==3.7 ; python_full_version >= "3.8.1" and python_version < "3.13"
importlib-metadata==7.1.0 ; python_full_version >= "3.8.1" and python_version < "3.10"
importlib-resources==6.4.0 ; python_full_version >= "3.8.1" and python_version < "3.9"
ipykernel==6.29.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
ipython-genutils==0.2.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
ipython==8.12.3 ; python_full_version >= "3.8.1" and python_version < "3.13"
isoduration==20.11.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
jedi==0.19.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
jinja2==3.1.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
jsonpointer==2.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
jsonschema-specifications==2023.12.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
jsonschema==4.22.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
jsonschema[format-nongpl]==4.22.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
jupyter-client==7.4.9 ; python_full_version >= "3.8.1" and python_version < "3.13"
jupyter-core==5.7.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
jupyter-events==0.10.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
jupyter-server-terminals==0.5.3 ; python_full_version >= "3.8.1" and python_version < "3.13"
jupyter-server==2.14.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
jupyterlab-pygments==0.3.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
markupsafe==2.1.5 ; python_full_version >= "3.8.1" and python_version < "3.13"
matplotlib-inline==0.1.7 ; python_full_version >= "3.8.1" and python_version < "3.13"
mistune==3.0.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
mnemonic==0.21 ; python_full_version >= "3.8.1" and python_version < "3.13"
nbclassic==1.1.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
nbclient==0.10.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
nbconvert==7.16.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
nbformat==5.10.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
nest-asyncio==1.6.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
netstruct==1.1.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
notebook-shim==0.2.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
notebook==6.5.7 ; python_full_version >= "3.8.1" and python_version < "3.13"
overrides==7.7.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
packaging==24.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
pandocfilters==1.5.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
parso==0.8.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
pexpect==4.9.0 ; python_full_version >= "3.8.1" and python_version < "3.13" and sys_platform != "win32"
pickleshare==0.7.5 ; python_full_version >= "3.8.1" and python_version < "3.13"
pkgutil-resolve-name==1.3.10 ; python_full_version >= "3.8.1" and python_version < "3.9"
platformdirs==4.2.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
ply==3.11 ; python_full_version >= "3.8.1" and python_version < "3.13"
prometheus-client==0.20.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
prompt-toolkit==3.0.46 ; python_full_version >= "3.8.1" and python_version < "3.13"
psutil==5.9.8 ; python_full_version >= "3.8.1" and python_version < "3.13"
ptyprocess==0.7.0 ; python_full_version >= "3.8.1" and python_version < "3.13" and (os_name != "nt" or sys_platform != "win32")
pure-eval==0.2.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
py-ecc==7.0.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
pycparser==2.22 ; python_full_version >= "3.8.1" and python_version < "3.13"
pygments==2.18.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
pysodium==0.7.17 ; python_full_version >= "3.8.1" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.8.1" and python_version < "3.13"
python-json-logger==2.0.7 ; python_full_version >= "3.8.1" and python_version < "3.13"
pywin32==306 ; python_full_version >= "3.8.1" and python_version < "3.13" and sys_platform == "win32"
pywinpty==2.0.13 ; python_full_version >= "3.8.1" and python_version < "3.13" and os_name == "nt"
pyyaml==6.0.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
pyzmq==26.0.3 ; python_full_version >= "3.8.1" and python_version < "3.13"
referencing==0.35.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
requests==2.31.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
rfc3339-validator==0.1.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
rfc3986-validator==0.1.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
rpds-py==0.18.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
secp256k1==0.14.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
send2trash==1.8.3 ; python_full_version >= "3.8.1" and python_version < "3.13"
setuptools==69.5.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
simple-bson==0.0.3 ; python_full_version >= "3.8.1" and python_version < "3.13"
simplejson==3.19.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
six==1.16.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
sniffio==1.3.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
soupsieve==2.5 ; python_full_version >= "3.8.1" and python_version < "3.13"
stack-data==0.6.3 ; python_full_version >= "3.8.1" and python_version < "3.13"
strict-rfc3339==0.7 ; python_full_version >= "3.8.1" and python_version < "3.13"
tabulate==0.9.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
terminado==0.18.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
testcontainers==3.7.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
tinycss2==1.3.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
toolz==0.12.1 ; python_full_version >= "3.8.1" and python_version < "3.13" and (implementation_name == "pypy" or implementation_name == "cpython")
tornado==6.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
tqdm==4.66.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
traitlets==5.14.3 ; python_full_version >= "3.8.1" and python_version < "3.13"
types-python-dateutil==2.9.0.20240316 ; python_full_version >= "3.8.1" and python_version < "3.13"
typing-extensions==4.12.1 ; python_full_version >= "3.8.1" and python_version < "3.11"
uri-template==1.3.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
urllib3==2.2.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
wcwidth==0.2.13 ; python_full_version >= "3.8.1" and python_version < "3.13"
webcolors==1.13 ; python_full_version >= "3.8.1" and python_version < "3.13"
webencodings==0.5.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
websocket-client==1.8.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
wrapt==1.16.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
zipp==3.19.2 ; python_full_version >= "3.8.1" and python_version < "3.10"
